SP_API_CLIENT_ID=
SP_API_CLIENT_SECRET=
SP_API_REFRESH_TOKEN=

SP_API_ENDPOINT=https://sellingpartnerapi-eu.amazon.com
SP_API_MARKETPLACE_ID=A1F83G8C2ARO7P

TARGET_ASIN=B0FKBBN52C

SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_SECRET_KEY=